

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #111;
    color: #fff;
    padding: 20px;
    text-align: center;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.large-header {
    position: relative;
    width: 100%;
    background: #111;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 1;
 }

 
 .main-title {
    position: absolute;
    margin: 0;
    padding: 5;
    color: #F9F1E9;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-40%, -30%, 0);
    transform: translate3d(-40%, -30%, 0);
 }
 
 .demo .main-title {
    text-transform: uppercase;
    font-size: 2.2em;
    letter-spacing: 2.1em;
 }
 
 .main-title .thin {
    font-weight: 200;
 }
 
 @media only screen and (max-width: 768px) {
    .demo .main-title {
       font-size: 3em;
    }
 }

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #ffd700;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s forwards;
}

section:nth-child(even) {
    animation-delay: 0.3s;
}

section:nth-child(odd) {
    animation-delay: 0.6s;
}

